* {
   font-family: "Roboto", sans-serif;
   padding: 0;
   margin: 0;
}

.nav-container {
   display: flex;
   justify-content: space-between;
   padding: 2% 10%;
   background-color: #0f124d;
}

.nav-items1 {
   gap: 120px;
   display: flex;
   align-items: center;
}

.nav-items1 > a {
   color: #ffffff;
   font-size: 20px;
   text-decoration: none;
}

.nav-items2 {
   display: flex;
   align-items: center;
}

.nav-items2 a {
   color: #fdc221;
   font-size: 17px;
}

.items1 {
   display: flex;
   gap: 30px;
}

.items1 a {
   color: #ffff;
   font-size: 14px;
   text-decoration: none;
}

.hero-container {
   display: flex;
   padding: 2% 1% 0 10%;
   background-color: #0f124d;
}

.hero-items1 {
   padding-top: 5%;
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.hero-items1 h1 {
   font-size: xx-large;
   font-weight: lighter;
   color: #ffffff;
}

.hero-items1 > h1 .span {
   color: #fdc221;
}

.hero-items1 p {
   color: #ffff;
}

.hero-items1 .lorem {
   display: flex;
   gap: 100px;
}

.hero-items1 .button {
   margin-top: 10%;
   color: #ffffff;
   font-size: medium;
   font-weight: bold;
   width: 30%;
   background-color: #f79e0e;
   border: none;
   padding: 3%;
   border-radius: 50px;
}

.parent {
   background-color: #71737f4a;
   /* display: flex;
   flex-direction: column; */
}

.expert-container {
   /* background-image: url("./src/assets/wave.svg"); */
   object-fit: cover;
   display: flex;
   gap: 100px;
   padding: 5% 5% 0% 5%;
}

.expert-container .expert-items2 {
   display: flex;
   flex-direction: column;
   gap: 20px;
   padding: 0 3%;
}

.expert-items2 .expert {
   color: #f79e0e;
}

.expert-items2 h4 {
   font-size: 35px;
}

.expert-items2 h4 .span {
   color: #f79e0e;
}

.expert-items2 .there {
   color: #979797;
}

.expert-items2 .lorem {
   display: flex;
   gap: 100px;
}

.lorem .lorem1 {
   display: flex;
   flex-direction: column;
}

.lorem .lorem2 {
   display: flex;
   flex-direction: column;
}

.expert-items2 .button {
   width: 30%;
   background-color: #f79e0e;
   border: none;
   padding: 3%;
   border-radius: 5px;
   color: #ffffff;
   margin-top: 5%;
}

/* .wave-container {
   background-color: aqua;
} */

/* .wave-container .wave-items1 {
} */

.offer-container {
   display: flex;
   justify-content: center;
   text-align: center;
   margin-bottom: 5%;
}

.offer-container .offer-items1 {
   display: flex;
   gap: 10px;
   flex-direction: column;
}

.offer-container .offer-items1 p {
   color: #f79e0e;
}

.offer-container .offer-items1 h4 {
   font-size: xx-large;
}

.offer-container .offer-items1 h4 .span {
   color: #f79e0e;
}

.offer-items2 {
   display: flex;
   gap: 70px;
   /* background-color: aqua; */
}

.offer-items2 .items2 {
   display: flex;
   flex-direction: column;
   gap: 20px;
   background-color: #fcfaed;
   padding: 5% 3% 0 3%;
   border-radius: 10px;
   box-shadow: 0 3px 2px rgb(0 0 0 / 0.2);
}

.offer-items2 .items2 h2 {
   font-family: "Pacifico", cursive;
}
